# Environments and Secrets
.env
venv/
env/
.venv/

# Local Vector Database
sentinai_chroma_db/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE and OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

requirements1.txt
requirements2.txt

# Extra Folders
sample_code/